<!-- /snippets/header2.liquid -->

{% include 'topbar' %}

<div class="site-header-logo main-sticky-header clearfix">
  <div class="wrapper">

    <div class="p-relative clearfix">
      <div class="site-nav--mobile left large--hide no-margin space-padding-lr-10">
        <button type="button" class="btn btn-default icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
          <span class="icon icon-hamburger" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
        </button>
      </div>
      <div class="logo left">
        {% if template == 'index' %}
          <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          {% if settings.logo_use_image %}
            <a href="/" itemprop="url" class="site-header__logo-link">
              <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            </a>
          {% else %}
            <a href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}
        {% if template == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
      <div class="site-header-mainmenu left">
        <div class="site-header-mainmenu-inner">
        <div class="wrapper">
          <div class="header-nav">
                <nav class="nav-bar" role="navigation">
                  {% include 'menu' %}
                </nav>
          </div>
        </div>
        </div>
      </div>
      <div class="header-settings right">
          <!-- search -->
          <div class="site-header__search medium-down--hide dropdown">
            {% include 'search-bar' %}
          </div>
          
          <!-- cart top -->
          <div class="cart-top ">
            <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
              <span id="CartCount">{{ cart.item_count }}</span>
              <!--
              {{ 'layout.cart.items_count' | t: count: cart.item_count }}
              <span id="CartCost">{{ cart.total_price | money }}</span>
              -->
            </a>

          </div>
      </div>
      </div>
  </div>
</div>
