<!-- snippets/onboarding-featured-products.liquid -->
{% for i in (1..4) %}
  <div class="clearfix">
    <div class="large--display-table product-container layout-list1">
     <div class="product-container-inner">
      <div class="images-list grid__item large--one-half medium--one-half">
        <div class="product-thumbnail">
          <a href="/admin/products" class="grid__image">
            {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
            {{ imageUrl | img_tag }}
          </a>
          <a href="/admin/products" class="product-quick-view btn-quickview" title="">
              <i class="fa fa-eye"></i>
          </a>
        </div>
      </div>
      <div class="grid__item large--one-half medium--one-half">
          <div class="info-inner">
            <h4 class="product-name">
              <a href="#">{{ 'homepage.onboarding.collection_title' | t }}</a><br>
              {{ 'collections.general.items_with_count' | t: count: i }}
            </h4>
            <div class="product-price"><span class="amout"><span>$19.99</span></span></div>
          </div>
          <div class="rte">
            <p>Fan luv. Congratulations, you played yourself. Look at the sunset</p>
          </div>
          <div class="action">

            <div class="add-cart">
              <form method="post" action="/cart/add" class="add-to-cart">
                <a class="button ajax_addtocart btn btn-outline btn-primary product-add-cart" href="/admin/products">
                  <span class="select_options">{{ 'products.product.select_options' | t }}</span>
                </a>
              </form>
            </div>
            <a href="/admin/products" class="btn btn-outline btn-primary btn-details" >
              <i class="fa fa-tag"></i>
            </a>
            <a class="btn btn-outline btn-primary wishlist add-to-wishlist awe-button product-quick-whistlist" href="/admin/products" data-toggle="tooltip" title="Add to whistlist">
             <i class="fa fa-heart"></i>
            </a>
          </div>

          <div class="grid-deals">
            <div class="deal-timmer" data-countdown="countdown" data-datetime="6/24/2018 00:00:00"></div>
          </div>
      </div>
      </div>
    </div>
  </div>
{% endfor %}