{% unless current_collection == blank %}
{% assign current_collection = collection %}
{% endunless %}

{% assign label_new = false %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}


	<div class="product-container style2 clearfix" data-publish-date="{{ product.published_at }}">
		<div class="p-relative product-container-inner">
			<div class="product-image ">
				<div class="product-thumbnail">
					<a href="{{ product.url | within: collection }}" title="">
						<img class="product-featured-image" src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
					</a>
					<a href="{{ product.url | within: collection }}" data-id="{{ product.handle }}"  class="product-quick-view btn-quickview" title="Quickview">
					    <i class="fa fa-eye"></i>
					</a>
				</div><!-- /.product-thumbnail -->
				
				{% if sold_out%}
							<span class="label sold-out">{{'products.product.sold_out' | t}}</span>
				{% endif %}

				{% if on_sale %}
							<span class="label on-sale">{{'products.product.on_sale' | t}}</span>
				{% endif %}

				{% if label_new %}
							<span class="label new">{{'products.product.new' | t}}</span>
				{% endif %}
				
              	{% include 'block-product-color' %}
			</div><!-- /.product-image -->

			
		</div>
		<div class="information">
			<h4 class="product-name">
				<a href="{{ product.url | within: collection }}" title="{{ product.title }}" >{{ product.title }}</a>
			</h4><!-- /.product-product -->

			<div class="product-price">
				<span class="amout">
					{% capture price %}{{ product.price | money }}{% endcapture %}
					<span >{% if product.price_varies %}{{  price: price }}{% else %}{{ price }}{% endif %}</span>
					{% if on_sale %} <del class="sale-price">{{ product.compare_at_price | money }}</del> {% endif %}
				</span>
			</div><!-- /.product-price -->


			<div class="product-actions">
				<form method="post" action="/cart/add" class="add-to-cart">
					<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
					<!-- <input type="submit" value="Buy now" class="btn" /> -->
					{% assign variantCount = product.variants | size %}
                    {% if sold_out %}
                      <button class="button ajax_addtocart disabled btn btn-outline btn-primary" type="submit" value="Submit" disabled>
                        <span class="fa fa-shopping-cart"></span>
                        <span>{{ 'products.product.sold_out' | t }}</span>
                      </button>
                      {% else %}
                      {% if variantCount > 1 %}
                      <a class="button ajax_addtocart btn btn-outline btn-primary product-add-cart" href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                        <span class="select_options">{{ 'products.product.select_options' | t }}</span>
                      </a>
                      {% else %}
                      <button type="submit" name="add" class="btn btn-outline btn-primary product-add-cart">
                        {{ 'products.product.add_to_cart' | t }}
                      </button>
                      {% endif %}
                    {% endif %}
				</form>
				<a href="{{ product.url | within: collection }}" title="{{ product.title }}" data-id="{{ product.handle }}"  class="btn btn-outline btn-primary btn-details" >
				    <i class="fa fa-tag"></i>
				</a>
				{%include 'add-wishlist'%}
				 
			</div>
			<!-- review -->
		</div>
		{% if dealTime %}
	        {% include 'block-productdeal' %}
	    {% endif %}
	</div> <!-- product-container -->