<div class="product product-grid product-item clearfix">
  <div id="product-4393761219" class="product-inner" data-publish-date="2015-12-22 05:06:00 -0500">
    <div class="product-image ">
      <div class="product-thumbnail">
        <a href="/admin/products/new" >
          <img class="product-featured-image current" src="{{'p1.jpg'| asset_url}}" alt="EXAMPLE PRODUCT">
          <img class="back-img" src="{{'p5-hover.jpg'| asset_url}}" alt="EXAMPLE PRODUCT">
        </a>
      </div><!-- /.product-thumbnail -->

      <div class="product-actions">
        <form action="/cart/add" method="post" class="variants" id="AddToCartForm-4393761219" enctype="multipart/form-data">
          <a class="btn-select-option btn product-add-cart" data-toggle="tooltip" title="" href="/admin/products/new" data-original-title="Select options"><i class="icon icon-cart"></i></a>
        </form>

        <a class=" btn" href="/admin/products/new" data-toggle="tooltip" data-original-title="Add to whistlist">
          <i class="fa fa-heart"></i>
        </a>
        <a href="/admin/products/new" data-id="{{ product.handle }}"  class="btn product-quick-view " data-toggle="tooltip" data-original-title="Quickview">
          <i class="fa fa-eye"></i>
        </a>
      </div>

    </div><!-- /.product-image -->

    <div class="product-meta">
      <h4 class="product-name">

        <a href="/admin/products/new" title="EXAMPLE PRODUCT">EXAMPLE PRODUCT</a>
      </h4><!-- /.product-product -->

      <div class="product-category">

        <span>Shirt</span>


      </div><!-- /.product-category -->

      <div class="product-price">
        <span class="amout">


          <span><span class="money" data-currency-usd="$259.00">$259.00</span></span>
          <del class="sale-price"><span class="money" data-currency-usd="$300.00">$300.00</span></del>
        </span>

      </div><!-- /.product-price -->
    </div><!-- /.product-meta -->


  </div>
</div>
<div class="product product-grid product-item clearfix">
  <div id="product-4393761219" class="product-inner" data-publish-date="2015-12-22 05:06:00 -0500">
    <div class="product-image ">
      <div class="product-thumbnail">
        <a href="/admin/products/new">
          <img class="product-featured-image current" src="{{'p2.jpg'| asset_url}}" alt="EXAMPLE PRODUCT">
          <img class="back-img" src="{{'p5-hover.jpg'| asset_url}}" alt="EXAMPLE PRODUCT">
        </a>
      </div><!-- /.product-thumbnail -->
        <div class="product-actions">
          <form action="/cart/add" method="post" class="variants" id="AddToCartForm-4393761219" enctype="multipart/form-data">

            <a class="btn-select-option btn product-add-cart" data-toggle="tooltip" href="/admin/products/new" data-original-title="Select options"><i class="icon icon-cart"></i></a>


          </form>

          <a class=" btn" href="/admin/products/new" data-toggle="tooltip" data-original-title="Add to whistlist">
            <i class="fa fa-heart"></i>
          </a>



          <a href="/admin/products/new" id="gin-lane-greenport-cotton-shirt-4" class="btn product-quick-view " data-toggle="tooltip" data-original-title="Quickview">
            <i class="fa fa-eye"></i>
          </a>
        </div>

    </div><!-- /.product-image -->

    <div class="product-meta">
      <h4 class="product-name">

        <a href="/admin/products/new" title="EXAMPLE PRODUCT">EXAMPLE PRODUCT</a>
      </h4><!-- /.product-product -->

      <div class="product-category">

        <span>Shirt</span>


      </div><!-- /.product-category -->

      <div class="product-price">
        <span class="amout">


          <span><span class="money" data-currency-usd="$259.00">$259.00</span></span>
          <del class="sale-price"><span class="money" data-currency-usd="$300.00">$300.00</span></del>
        </span>

      </div><!-- /.product-price -->
    </div><!-- /.product-meta -->


  </div>
</div>
<div class="product product-grid product-item clearfix">
  <div id="product-4393761219" class="product-inner" data-publish-date="2015-12-22 05:06:00 -0500">
    <div class="product-image ">
      <div class="product-thumbnail">
        <a href="/admin/products/new" title="">
          <img class="product-featured-image current" src="{{'p3.jpg'| asset_url}}" alt="EXAMPLE PRODUCT">
          <img class="back-img" src="{{'p5-hover.jpg'| asset_url}}" alt="EXAMPLE PRODUCT">
        </a>
      </div><!-- /.product-thumbnail -->
        <div class="product-actions">
          <form action="/cart/add" method="post" class="variants" id="AddToCartForm-4393761219" enctype="multipart/form-data">

            <a class="btn-select-option btn product-add-cart" data-toggle="tooltip" href="/admin/products/new" data-original-title="Select options"><i class="icon icon-cart"></i></a>


          </form>

          <a class=" btn" href="/admin/products/new" data-toggle="tooltip" data-original-title="Add to whistlist">
            <i class="fa fa-heart"></i>
          </a>



          <a href="/admin/products/new" id="gin-lane-greenport-cotton-shirt-4" class="btn product-quick-view " data-toggle="tooltip" title="" data-original-title="Quickview">
            <i class="fa fa-eye"></i>
          </a>
        </div>

    </div><!-- /.product-image -->

    <div class="product-meta">
      <h4 class="product-name">

        <a href="/admin/products/new" title="EXAMPLE PRODUCT">EXAMPLE PRODUCT</a>
      </h4><!-- /.product-product -->

      <div class="product-category">

        <span>Shirt</span>


      </div><!-- /.product-category -->

      <div class="product-price">
        <span class="amout">


          <span><span class="money" data-currency-usd="$259.00">$259.00</span></span>
          <del class="sale-price"><span class="money" data-currency-usd="$300.00">$300.00</span></del>
        </span>

      </div><!-- /.product-price -->
    </div><!-- /.product-meta -->


  </div>
</div>
<div class="product product-grid product-item clearfix">
  <div id="product-4393761219" class="product-inner" data-publish-date="2015-12-22 05:06:00 -0500">
    <div class="product-image ">
      <div class="product-thumbnail">
        <a href="/admin/products/new" title="">
          <img class="product-featured-image current" src="{{'p4.jpg'| asset_url}}" alt="EXAMPLE PRODUCT">
          <img class="back-img" src="{{'p5-hover.jpg'| asset_url}}" alt="EXAMPLE PRODUCT">
        </a>
      </div><!-- /.product-thumbnail -->
        <div class="product-actions">
          <form action="/cart/add" method="post" class="variants" id="AddToCartForm-4393761219" enctype="multipart/form-data">

            <a class="btn-select-option btn product-add-cart" data-toggle="tooltip" title="" href="/admin/products/new" data-original-title="Select options"><i class="icon icon-cart"></i></a>


          </form>

          <a class=" btn" href="/admin/products/new" data-toggle="tooltip" title="" data-original-title="Add to whistlist">
            <i class="fa fa-heart"></i>
          </a>



          <a href="/admin/products/new" id="gin-lane-greenport-cotton-shirt-4" class="btn product-quick-view " data-toggle="tooltip" title="" data-original-title="Quickview">
            <i class="fa fa-eye"></i>
          </a>
        </div>

    </div><!-- /.product-image -->

    <div class="product-meta">
      <h4 class="product-name">

        <a href="/admin/products/new" title="EXAMPLE PRODUCT">EXAMPLE PRODUCT</a>
      </h4><!-- /.product-product -->

      <div class="product-category">

        <span>Shirt</span>


      </div><!-- /.product-category -->

      <div class="product-price">
        <span class="amout">


          <span><span class="money" data-currency-usd="$259.00">$259.00</span></span>
          <del class="sale-price"><span class="money" data-currency-usd="$300.00">$300.00</span></del>
        </span>

      </div><!-- /.product-price -->
    </div><!-- /.product-meta -->


  </div>
</div>


