<div class="site-header__topbar">
  <div class="wrapper">
    <div class="left">
      {% include 'currency-picker' %}
    </div>

    {% if shop.customer_accounts_enabled %}
      <div class="site-header__account right">
        {% if customer %}
          {% if customer.first_name != blank %}
            {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
            {{first_name: first_name }}
          {% else %}
            <a href="/account">{{ 'layout.customer.account' | t }}</a>
          {% endif %}
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
        {% else %}
          {{ 'layout.customer.log_in' | t | customer_login_link }}
          {% if shop.customer_accounts_optional %}
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          {% endif %}
        {% endif %}
      </div>
    {% endif %} <!-- end account -->

    
  </div>
</div>