<div class="item clearfix">
	<div class="product-image">
		<a href="{{ product.url | within: collection }}" title="">
			<img class="product-featured-image" src="{{ product.featured_image.src | img_url: 'small' }}" alt="{{ product.featured_image.alt | escape }}">
			
		</a>
	</div>
	<div class="product-meta">

			<a href="{{ product.url | within: collection }}" title="{{ product.title }}" >{{ product.title }}</a>
			<!-- review -->
			<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
		<div class="product-price">
			<span class="amout">
				{% capture price %}{{ product.price | money }}{% endcapture %}
				<span >
					{% if product.price_varies %}{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}
				</span>
				{% if on_sale %} <del class="sale-price">{{ product.compare_at_price | money }}</del>
				{% endif %}
			</span>

		</div>	<!-- /.product-price -->
	</div><!-- /.product-meta -->
</div>