<!-- /templates/blog.liquid -->


{% paginate blog.articles by settings.blog_list_number %}


<div class="grid">

  <div class="grid__item large--three-quarters">

    {% if current_tags %}
      <h1>{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
    {% else %}
      <h1 class="hidden">{{ blog.title }}</h1>
    {% endif %}

    <div class="list-blog">

        {% for article in blog.articles %}
      	<article class="post">
          <div class="grid">
            <div class="grid__item large--five-twelfths">
              <div class="blog-image">
                {% if article.image %}
                  <a href="{{ article.url }}" title="" class="post-thumbnail">
                    <img src="{{ article.image.src | img_url: 'original' }}" alt="" class="img-responsive">
                  </a>
                {% endif %}
              </div>
              
            </div>
            <div class="grid__item large--seven-twelfths">
              <h3 class="entry-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
				
              <div class="entry-date">
                {% capture date_month %}{{ article.published_at | date: '%b' }}{% endcapture %}
                {% capture date_day %}{{ article.published_at | date: '%d' }}{% endcapture %}
                {% capture date_year %}{{ article.published_at | date: '%b %d, %Y' }}{% endcapture %}
                <div class="entry-date-inner">
                  {{ article.published_at | date: '%d / %b / %Y' }}
                </div>
              </div>
              
              <div class="rte">

                {% if article.excerpt.size > 0 %}
                  <p class="entry-content">{{ article.excerpt | strip_html | truncatewords: 30 }} </p>
                {% else %}
                  <p class="entry-content">{{ article.content | strip_html | truncatewords: 30 }} </p>
                {% endif %}
                
               
                <a class="btn btn-outline btn-primary btn-more" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
              </div>
				
              <div class="info-meta">
                
                <div class="entry-meta entry-meta-has-thumbnail">
                  {% capture author %}<span>{{ article.author }}</span>{% endcapture %}
                  <span class="entry-meta-author"><i class="fa fa-user"></i>{{ author }}</span>
                  <span class="entry-meta-category">
                    <i class="fa fa-folder-open"></i>
                    {{ blog.title | link_to: blog.url }}
                  </span>
                  {% if blog.comments_enabled? %}
                  <span class="entry-meta-comment">
                    <a href="{{ article.url }}#comments">
                      <i class="fa fa-comment"></i>
                      {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                    </a>
                  </span>
                  {% endif %}
                </div>
              </div>
              
              <ul class="inline-list">
                {% include 'tags-article' %}
              </ul>

              {% unless forloop.last %} {% endunless %}
            </div>
          </div>
          </article>
        {% endfor %}

    </div>

    {% if paginate.pages > 1 %}
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}

  </div>

  <div class="sidebar grid__item large--one-quarter">
    {% include 'blog-sidebar' %}
  </div>

</div>

{% endpaginate %}
