
<div class="container">
  <div class="section-header ">
    <h2 class="text-center">{{ 'wishlist.general.title' | t }}</h2>

  </div> 
  {% if customer %}
    {% assign wish_list_active = false %}

    <div class="table-responsive">
      <table class="table wishlist-table cart-table">
        <thead>
          <tr>
            <th></th>
            <th class="product-name">{{ 'wishlist.labels.product' | t }}</th>
            <th>{{ 'wishlist.labels.price' | t }}</th>
            <th>{{ 'wishlist.labels.stock_status' | t }}</th>
            <th>{{ 'wishlist.labels.detail' | t }}</th>
          </tr>
        </thead>


        <tbody>
          {% for tag in customer.tags %}
          {% assign the_test = 'nutthin' %}
          {% capture tag_id %}{{ tag }}{% endcapture %}
          {% assign tag_size = tag_id.size %}
          {% for tag in customer.tags %}
          {% capture cur_tag %}{{ tag }}{% endcapture %}
          {% if cur_tag contains tag_id %}
          {% assign difference = tag_size | minus:cur_tag.size %}
          {% if difference == 0 %}
          {% assign the_test = tag_id %}
          {% else %}
          {% assign the_test = 'nutthin' %}
          {% endif %}
          {% endif %}
          {% endfor %}
          {% for collection in collections %}
          {% paginate collection.products by collection.all_products_count %}
          {% for product in collection.products %}
          {% capture product_id %}{{ product.id }}{% endcapture %}
          {% unless used contains product_id %}
          {% capture diff %}{{ tag_size | minus:product_id.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}
          {% assign check = diff | split:'.' %}
          {% if check[1] contains '5' %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
          {% if display and the_test contains product_id %}

          {% assign wish_list_active = true %}

          {% assign sold_out = true %}
          {% if product.available  %}
          {% assign sold_out = false %}
          {% endif %}
          <tr class="row-{{tag_id}} product-item" id="product-{{ product.id }}">

            <td class="product-remove">
              <div class="remove text-center">
                <input class="tag-id" type="hidden" value="{{tag_id}}" />
                <a href='javascript:void(0)' class="btn-remove-wishlist remove"><i class="fa fa-times-circle"></i></a>
              </div>
            </td>
           
            <td class="product-name">            
              <a href='{{ product.url }}'><img src="{{ product.featured_image.src | product_img_url: 'compact' }}" alt="{{ product.featured_image.alt | escape }}"></a>
              <span> 
                <a href='{{ product.url }}' >              
                  {{ product.title | split: '|' | first }}             
                </a>
              </span>
            </td>

            <td class="product-price">
              {% if on_sale %}
              <p class="sale">
                <span class="old-price"> {{ product.compare_at_price_min | money }}</span>
                <span class="special-price">{% if product.price_varies %}{% endif %}{{ product.price_min | money }}</span>
              </p>
              {% else %}
              <p class="regular-product price">
                <span >{% if product.price_varies %}{% endif %}{{ product.price_min | money }}</span>
              </p>
              {% endif %}
            </td>

            <td class="product-stock-status">
              <span class="wishlist-{% if product.available %}InStock{% else %}OutOfStock{% endif %}">{% if product.available %}InStock{% else %}OutOfStock{% endif %}</span>                 
            </td>

            <td class="product-add-to-cart">     

              <div class="action text-center">
                {% assign variantCount = product.variants | size %}
                <form action="/cart/add" method="post" class="variants" id="product-actions-{{ product.id }}" enctype="multipart/form-data" style="padding:0px;">    
                  {% if sold_out %}
                  <input class="btn add-to-cart-btn" type="submit" value="{{ 'products.product.unavailable' | t }}" disabled="disabled"/>
                  {% else %}
                  {% if variantCount > 1 %}
                  <input class="btn btn-lg btn-primary" type="button" onclick="window.location.href='{{product.url}}'" value="{{ 'products.product.add_to_cart' | t }}"/>
                  {% else %}
                  <input type="hidden" name="id" value="{{ product.variants[0].id }}" />      
                  <input class="btn btn-lg btn-primary" type="submit" value="{{ 'products.product.add_to_cart' | t }}"/>
                  {% endif %}
                  {% endif %}
                </form>
              </div>
            </td>
          </tr>

          {% capture used %}{{ product_id }} {{ used }}{% endcapture %}
          {% endif %}
          {% endunless %}
          {% endfor %}
          {% endpaginate %}
          {% endfor %}
          {% endfor %}
        </tbody>

      </table>
    </div>



    <form method='post' action='/contact' id='remove-wishlist-form' accept-charset='UTF-8'>
      <input name='form_type' type='hidden' value='customer'/>
      <input name='utf8' type='hidden' value='✓'>
      <input type='hidden' name='contact[email]' value='{{ customer.email }}'/>
      <input type='hidden' name='contact[tags]'  value='' />
    </form>
    {% capture subject %}My%20{{ shop.name | replace: ' ','%20' }}%20Wish%20List{% endcapture %}
    {% capture body %}I&rsquo;ve%20added%20the%20following%20items%20to%20my%20wish%20list%20at%20{{ shop.name | replace: ' ','%20' }}{% endcapture %}

    {% capture body %}{{ body }}
    {% for tag in customer.tags %}
    {% assign the_test = 'nutthin' %}
    {% capture tag_id %}{{ tag }}{% endcapture %}
    {% assign tag_count = 0 %}{% assign tag_size = tag_id | size %}
    {% for tag in customer.tags %}
    {% capture cur_tag %}{{ tag }}{% endcapture %}
    {% if cur_tag contains tag_id %}
    {% assign cur_tag_size = cur_tag | size %}
    {% assign difference = tag_size | minus: cur_tag_size %}
    {% if difference == 0 %}{% assign the_test = tag_id %}
    {% else %}{% assign the_test = 'nutthin' %}
    {% endif %}
    {% endif %}
    {% endfor %}

    {% assign listID = ''%}
    {% for collection in collections %}
    {% for p in collection.products %}
    {% capture pID %}{{ p.id }}{% endcapture %}
    {% capture difference %}{{ tag_size | minus:pID.size | money_without_currency | times:100 | divided_by: 2 }}{% endcapture %}
    {% assign check = difference | split:'.' %}
    {% if check[1] contains '5' %}
    {% assign display = false %}
    {% else %}
    {% assign display = true %}
    {% endif %}
    {% assign listArr = listID | split: ',' %}

    {% if listArr contains pID %}{% else %}
    {% if display and the_test contains pID %}%0A%0A{{ p.title | replace: ' ','%20'}}%3A%20%20{{ shop.url }}{{ p.url }}
    {% assign listID = listID | append: ','| append: pID %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}

    {% endfor %}
    {% endcapture %}

    {% if wish_list_active %}
      <div class="wishlist-button">
        <a class="share btn btn-lg btn-primary f-right margin-bottom-100" href="mailto:?subject={{ subject }}&amp;body={{ body | remove: ' ' | replace: '"',"'" | strip_newlines}}">{{ 'wishlist.general.share_wishlist' | t }}</a>
      </div>
    {% endif %}

  {% else %}
    <p>
      <span>{{ 'wishlist.general.subtext' | t }}</span>
      <a href="/account/login">{{ 'wishlist.general.sign_in' | t }}</a>
      <span> - </span>
      <a href="/account/register">{{ 'wishlist.general.or' | t }}</a>
    </p>
  {% endif %}

</div>








